body {
  background-color:black;
  font-family:Verdana, sans-serif;
  top:0;
  text-align:center;
  color:white;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 42px;
    font-weight: 42px;
}

h5 {
    font-size: 21px;
    color:gray;
}

.downloadlink {
    color:aquamarine;
    font-size: 16px;

}

.footer {
    text-align: right;
    color:gray;
}
